<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Home{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@bootstrap_css' '@AcmeRememberSeriesBundle/Resources/public/scss/body.scss' filter='compass, cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% javascripts '@jquery' '@bootstrap_js' '@AcmeRememberSeriesBundle/Resources/public/js/script.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            {% if app.user %}
            user: {{ app.user }}
            <a href="{{ path('fos_user_security_logout') }}">logout</a>
            {% else %}
            <a href="{{ path('fos_user_security_login') }}">login</a>
            {% endif %}
        {% endblock %}

        {% block navigation %}
            <div class="main-menu">
                <ul>
                    <li><a href="{{ path('_welcome') }}">home</a></li>
                    <li><a href="{{ path('acme_remember_series_list_all') }}">all series</a></li>
                </ul>
            </div>
        {% endblock %}

        {% block body %}{% endblock %}
        {#{% block javascripts %}{% endblock %}#}
        </body>
    </html>
