{% extends 'AcmeRememberSeriesBundle:Default:index.html.twig' %}

{% block body %}
    <form action="{{ path('acme_remember_series_create') }}" method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form._token) }}

        <input type="submit" value="add" />
    </form>

    <ul>
    {% for item in app.user.series %}
        <li>
            <a href="{{ path('acme_remember_series_single_page', { 'series_id': item.seriesId.id }) }}">{{ item.seriesId.name }}</a>
            <a href="{{ path('acme_remember_series_remove', { 'series_id': item.seriesId.id }) }}">remove</a>
            <span>
                status:
                {% if item.watched %}
                    <span class="watched">watched</span>
                {% else %}
                    <span class="not-watched">not watched</span>
                {% endif %}
            </span>
            {% if item.watched %}
                <a href="{{ path('acme_remember_series_set_not_watched', { 'series_id': item.seriesId.id }) }}">set not watched</a>
            {% else %}
                <a href="{{ path('acme_remember_series_set_watched', { 'series_id': item.seriesId.id }) }}">set watched</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
