{% extends 'AcmeRememberSeriesBundle:Default:index.html.twig' %}

{% block body %}
    <div>Series: {{ series.name }}!</div>
    <div>Description: {{ series.description }}</div>
     Seasons:
    <ul>
    {% for item in seasons %}
        <li>
            <a href="{{ path('acme_remember_series_season', { 'season_id': item.id }) }}">{{ item.name }}</a>
            {% if item.users.first() %}
            {#% if app.user in attribute(item, "getUsersList")  %#}
                <a href="{{ path('acme_remember_series_set_season_not_watched', { 'season_id': item.id }) }}">set not watched</a>
            {% else %}
                <a href="{{ path('acme_remember_series_set_season_watched', { 'season_id': item.id }) }}">set watched</a>
            {% endif %}
        </li>

    {% endfor %}
    </ul>
{% endblock %}
